#folders
bin/
Results/
Backup*/
node_modules/
/.vs/
[Ll]og/
/[Pp]ackages/

#files
Pages.g.*
.localhistory
**/[Oo]bj/*[Dd]ebug*/
**/[Oo]bj/*[Rr]elease*/
**/[Oo]bj/intermediate/
**/[Bb]in/*[Dd]ebug*/
**/[Bb]in/*[Rr]elease*/
**/[Bb]in/intermediate/
**/QA_Tests/errorShots/*.png
**/QA_Tests/docs/*.pdf
*.suo
*~
*.log
# Do not remove these two rules below!
# If you added package that created x86 or x64 directory, remove it and copy needed dlls from packages/...
# in after build target. 
x86/
x64/
[Bb]uild/
[Bb]ld/
*.metaproj
*.metaproj.tmp
*.bak

#NUNIT
*.VisualState.xml
TestResult.xml

*.pubxml.user
*.bak
*.user

*_i.c
*_p.c
*_i.h
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
.builds
*.pidb
*.svclog
*.scc

# Visual C++ cache files
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile

# Visual Studio profiler
*.psess
*.vsp
*.vspx

# DocProject is a documentation generator add-in
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

# Click-Once directory
publish/

# Windows Azure Build Output
csx/
*.build.csdef

# Windows Store app package directory
AppPackages/

# Others
sql/
*.Cache
ClientBin/
[Ss]tyle[Cc]op.*
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.publishsettings

_UpgradeReport_Files/
UpgradeLog*.XML
UpgradeLog*.htm
*.mdf
*.ldf
*.rdl.data
*.bim.layout
*.bim_*.settings

FakesAssemblies/

# Offline-Setup Cache und Output
Setup/OfflineSetup/Setup Files/
Setup/OfflineSetup/setup-cache/
