<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channel>prerelease</Channel>
  <New>
	<Chapter>
		<VN>
			<Sites path="vn">
				<Site>
					<Url>new</Url>
					<FileName>Stammdaten.xml</FileName>
				</Site>
				<Site>
					<Url>Arbeitgeber – Tarifvorgabe</Url>
					<FileName>Callback</FileName>
					<Versicherer>
						<Name>Allianz</Name>
						<Id>1006</Id>
					</Versicherer>
				</Site>
				<!-- <Site> -->
					<!-- <Url>Arbeitgeber – Zusch</Url> -->
					<!-- <NewBtn>btnNewTariffConfig</NewBtn> -->
					<!-- <FileName>Zuschüsse.xml</FileName> -->
				<!-- </Site>		 -->
				<Site>
					<Url>Arbeitgeber – Zahlungsart / GwG</Url>
					<FileName>Zahlungsart.xml</FileName>
				</Site>				
			</Sites>
		</VN>
		<VP>
			<Sites path="vp">
				<Site>
					<Url>new</Url>
					<FileName>Stammdaten.xml</FileName>
				</Site>
			</Sites>
		</VP>
		<Consultation>
			<Sites path="consultation">
				<Site>
					<Url>new</Url>
					<FileName>Beratung.xml</FileName>
				</Site>
				<Site>
					<Url>Eigenbeteiligung</Url>
					<FileName>Eigenbeteiligung.xml</FileName>
				</Site>				
			</Sites>
		</Consultation>
	</Chapter>
  </New>
  <Tests documents="false" debug="true"></Tests>
	<SelectorList>
	<Selector>
		<Value>SelectedItem_VrId</Value>
		<CheckVisible>false</CheckVisible>
		</Selector>
		<Selector>
		<Value>SelectedItem_ImplementationMethodId</Value>
		<CheckVisible>false</CheckVisible>
		</Selector>
		<Selector>
		<Value>SelectedItem_InsuranceTypeId</Value>
		<CheckVisible>false</CheckVisible>
	</Selector>
	<Selector>
		<Value>SelectedItem_TariffId</Value>
		<CheckVisible>false</CheckVisible>
	</Selector>
	<Selector>
		<Value>SelectedItem_TariffOptionId</Value>
		<CheckVisible>true</CheckVisible>
	</Selector>
		<Selector>
		<Value>SelectedItem_BavPledgeId</Value>
		<CheckVisible>true</CheckVisible>
	</Selector>
		<Selector>
		<Value>SelectedItem_ContractTypeId</Value>
		<CheckVisible>true</CheckVisible>
	</Selector>	
		<Selector>
		<Value>SelectedItem_AssociationId</Value>
		<CheckVisible>true</CheckVisible>
	</Selector>	

	</SelectorList>  
  <VersichererList all="true" smoke="false" breakAtError="false" onlyTarifCheck="false">
	 <!-- <Versicherer>  -->
		 <!-- <Name>Allianz</Name>  -->
		 <!-- <Id>1006</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Alte Leipziger</Name>  -->
		 <!-- <Id>1007</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Canada Life</Name>  -->
		 <!-- <Id>9997</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Continentale</Name>  -->
		 <!-- <Id>1335</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Die Bayerische</Name>  -->
		 <!-- <Id>1013</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Gothaer</Name>  -->
		 <!-- <Id>1108</Id>  -->
	 <!-- </Versicherer> -->
	 <Versicherer> 
		 <Name>HDI</Name> 
		 <Id>1033</Id> 
	 </Versicherer>
	 <!-- <Versicherer>  -->
		 <!-- <Name>KLinikrente</Name>  -->
		 <!-- <Id>9994</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Metallrente</Name>  -->
		 <!-- <Id>9993</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Nürnberger</Name>  -->
		 <!-- <Id>1147</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Signal Iduna</Name>  -->
		 <!-- <Id>1048</Id>  -->
	 <!-- </Versicherer> -->
	 <!-- <Versicherer>  -->
		 <!-- <Name>Stuttgarter</Name>  -->
		 <!-- <Id></Id>  -->
	 <!-- </Versicherer> -->
	 	 <!-- <Versicherer>  -->
		 <!-- <Name>1104</Name>  -->
		 <!-- <Id></Id>  -->
	 <!-- </Versicherer> -->
	 	 <!-- <Versicherer>  -->
		 <!-- <Name>Volkswohl Bund</Name>  -->
		 <!-- <Id>1099</Id>  -->
	 <!-- </Versicherer> -->
	 	 <Versicherer> 
		 <Name>WWK</Name> 
		 <Id>1103</Id> 
	 </Versicherer>
	 	 <!-- <Versicherer>  -->
		 <!-- <Name>xbAV Testversicherer</Name>  -->
		 <!-- <Id>9999</Id>  -->
	 <!-- </Versicherer> -->
	 	 <!-- <Versicherer>  -->
		 <!-- <Name>Zurich Deutscher Herold</Name>  -->
		 <!-- <Id>1138</Id>  -->
	 <!-- </Versicherer>	  -->
	 </VersichererList>
	 
	 <DurchfwegList all="false">
	 <DurchfWeg>
	  <Name>Direkt</Name>
	  <Id>1</Id>
	 </DurchfWeg>
	 <!-- <DurchfWeg> -->
	  <!-- <Name>Pensionskasse</Name> -->
	  <!-- <Id>2</Id> -->
	 <!-- </DurchfWeg>	  -->
	 <!-- <DurchfWeg> -->
	  <!-- <Name>SBU</Name> -->
	  <!-- <Id>4</Id> -->
	 <!-- </DurchfWeg>	  -->
	 </DurchfwegList>
	 <TypeList  all="false">
	 <Type>
	 	<Name>Rentenversicherung</Name>
		<Id>0</Id>
		</Type>
	 <!-- <Type> -->
	 	<!-- <Name>SBU</Name> -->
		<!-- <Id>1</Id> -->
	 <!-- </Type> -->
	 </TypeList>
	 <TarifList smoke="false" all="true">
	 <Tarif>
		<Name>Test</Name>
		<Id>e27dd6d8-6958-e511-80cf-14dda9d3349f</Id>
	</Tarif>
	 </TarifList>
	 <ExcludeList>
	  <Versicherer> 
		 <Name>Swisslife</Name>
		  <Id>1090</Id>
	  </Versicherer>
	  <Versicherer> 
		 <Name>LV</Name>
		  <Id>1062</Id>
	  </Versicherer>
	  	  <Versicherer> 
		 <Name>Generali</Name>
		  <Id>9995</Id>
	  </Versicherer>
	  <Versicherer> 
		 <Name>Saarland</Name>
		  <Id>1150</Id>
	  </Versicherer>
	 </ExcludeList>
</Config>