<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channel>hotfix</Channel>
  <New>
	<Chapter>
		<VN>
			<Sites path="vn">
				<Site>
					<Url>new</Url>
					<FileName>Stammdaten.xml</FileName>
				</Site>
				<Site>
					<Url>Arbeitgeber – Tarifvorgabe</Url>
					<FileName>Callback</FileName>
					<Versicherer>
						<Name>Allianz</Name>
						<Id>1006</Id>
					</Versicherer>
				</Site>
				<!-- <Site> -->
					<!-- <Url>Arbeitgeber – Zusch</Url> -->
					<!-- <NewBtn>btnNewTariffConfig</NewBtn> -->
					<!-- <FileName>Zuschüsse.xml</FileName> -->
				<!-- </Site>		 -->
				<Site>
					<Url>Arbeitgeber – Zahlungsart / GwG</Url>
					<FileName>Zahlungsart.xml</FileName>
				</Site>				
			</Sites>
		</VN>
		<VP>
			<Sites path="vp">
				<Site>
					<Url>new</Url>
					<FileName>Stammdaten.xml</FileName>
				</Site>
			</Sites>
		</VP>
		<Consultation>
			<Sites path="consultation">
				<Site>
					<Url>new</Url>
					<FileName>Beratung.xml</FileName>
				</Site>
				<Site>
					<Url>Eigenbeteiligung</Url>
					<FileName>Eigenbeteiligung.xml</FileName>
				</Site>				
			</Sites>
		</Consultation>
	</Chapter>
  </New>
  <Tests documents="false"></Tests>
	<SelectorList>
	<Selector>
		<Value>SelectedItem_VrId</Value>
		<CheckVisible>false</CheckVisible>
		</Selector>
		<Selector>
		<Value>SelectedItem_ImplementationMethodId</Value>
		<CheckVisible>false</CheckVisible>
		</Selector>
		<Selector>
		<Value>SelectedItem_InsuranceTypeId</Value>
		<CheckVisible>false</CheckVisible>
	</Selector>
	<Selector>
		<Value>SelectedItem_TariffId</Value>
		<CheckVisible>false</CheckVisible>
	</Selector>
	<Selector>
		<Value>SelectedItem_TariffOptionId</Value>
		<CheckVisible>true</CheckVisible>
	</Selector>
		<Selector>
		<Value>SelectedItem_BavPledgeId</Value>
		<CheckVisible>false</CheckVisible>
	</Selector>
		<Selector>
		<Value>SelectedItem_ContractTypeId</Value>
		<CheckVisible>false</CheckVisible>
	</Selector>	
		<Selector>
		<Value>SelectedItem_AssociationId</Value>
		<CheckVisible>true</CheckVisible>
	</Selector>	

	</SelectorList>  
  <VersichererList all="true" smoke="false" breakAtError="false">
 <!-- <Versicherer>  -->
		 <!-- <Name>Si</Name>  -->
		 <!-- <Id>9999</Id>  -->
	 <!-- </Versicherer>    -->
	  <!-- <Versicherer>  -->
		 <!-- <Name>Allianz</Name> -->
		  <!-- <Id>1006</Id> -->
		 <!-- <Tarif>153494b7-5880-4d70-9935-d63576481526</Tarif> -->
	  <!-- </Versicherer> -->
	 <Versicherer> 
		 <Name>SI</Name> 
		 <Id>1048</Id> 
	 </Versicherer> 
 <Versicherer> 
		 <Name>Zürich</Name> 
		 <Id>1138</Id> 
	 </Versicherer>   	 

   <!-- <versicherer>   -->
		 <!-- <name>hdi</name>  -->
		 <!-- <id>1033</id>  -->
	 <!-- </versicherer>  -->
	 </VersichererList>
	 
	 <DurchfwegList all="true">
	 <!-- <DurchfWeg> -->
	  <!-- <Name>Direkt</Name> -->
	  <!-- <Id>1</Id> -->
	 <!-- </DurchfWeg> -->
	 <DurchfWeg>
	  <Name>Pensionskasse</Name>
	  <Id>2</Id>
	 </DurchfWeg>	 
	 <!-- <DurchfWeg> -->
	  <!-- <Name>SBU</Name> -->
	  <!-- <Id>4</Id> -->
	 <!-- </DurchfWeg>	  -->
	 </DurchfwegList>
	 <ExcludeList>
	 
	  <!-- <Versicherer>  -->
		 <!-- <Name>Canada Life</Name> -->
		  <!-- <Id>9997</Id> -->
	  <!-- </Versicherer>	  -->
	  <Versicherer> 
		 <Name>Swisslife</Name>
		  <Id>1090</Id>
	  </Versicherer>
	  <Versicherer> 
		 <Name>LV</Name>
		  <Id>1062</Id>
	  </Versicherer>
	  	  <Versicherer> 
		 <Name>Generali</Name>
		  <Id>9995</Id>
	  </Versicherer>
	  <Versicherer> 
		 <Name>Saarland</Name>
		  <Id>1150</Id>
	  </Versicherer>
	 </ExcludeList>
</Config>