<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<Fields>
  <Field>
	<Name>Beruf</Name>
	<ValueList>
		<Value>Bürogehilfe</Value>
		<Value>Bürogehilfe/-gehilfin</Value>
		<Value>Bürogehilf(e/in)</Value>
		<Value>Bürokaufmann</Value>
		<Value>Büroangestellter</Value>
		<Value>Fachinformatiker/in (Anwendungsentwicklung)</Value>
		<Value>Anwendungsentwickler</Value>
		<Value>Anwendungsentwickler/in</Value>
		<Value>Abbrucharbeiter</Value>
	</ValueList>
  </Field>
  <Field>
	<Name>InvestmentFond</Name>
	<NameList>
		<Name>model_PluginItemTypeValues_Fondsauswahl_SelectedFonds_inneritem_Percentage</Name>
		<Name>model_PluginItemTypeValues_FondAuswahl_SelectedFonds_inneritem_Percentage</Name>
		<Name>model_PluginItemTypeValues_Investmentfonds_SelectedFonds_inneritem_Percentage</Name>
	</NameList>	
  </Field>
    <Field>
	<Name>JobAuswahl</Name>
	<NameList>
		<Name>[name='JobM']</Name>
		<Name>[name='BerufM']</Name>
		<Name>[name='BuzHobby']</Name>
		<Name>[name='Beruf']</Name>
		<Name>[name='BuzJob']</Name>
		<Name>[aria-label='Beruf']</Name>
		<Name>[aria-label='Ausgeübte Tätigkeit']</Name>
	</NameList>	
  </Field>
</Fields>
</Config>



