<?xml version="1.0" encoding="utf-8"?>
<Config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Channel>prerelease</Channel>
  <New>
	<Chapter>
		<VN>
			<Sites path="vn">
				<Site>
					<Url>new</Url>
					<FileName>Stammdaten.xml</FileName>
				</Site>
			</Sites>
		</VN>
	</Chapter>
  </New>
  <Tests documents="false" debug="true"></Tests>
</Config>